.App {
  background-color: white;
}

form {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 3em;
  flex: 1;
}

#logo {
  max-width: 40%;
}

/* #loginButton {
  display: block;
  width: 15%;
  height: 15%;
} */